doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
        title Автокред
    body
        section.greeting-section 
            header.header
                .header-logo
                    img(src="./assets/images/content/logo2.svg", alt="") 
                .header-container 
                    nav.header-navigation 
                        a.header-link(href="#form") Оформить кредит
                        a.header-link(href="#") Клиенту
                        a.header-link(href="#") О Компании
                        a.header-link(href="#contacts") Контакты 
                    .header-contact-info
                        a.header-phone(href="tel:+78006002515") 8 800 600-25-15 
                        .header-social 
                            a(href="https://vk.com/felixfreidman").social-link 
                                img(src="./assets/images/content/vk.svg", alt="VK Logo")
                            a(href="https://instagram.com/freidman.creator").social-link 
                                img(src="./assets/images/content/instagram.svg", alt="Instagram Logo", style="width: 80%")
            .header-btn--mobile#showMenu
                .addon-container
                    span.btn-pattern--line#firstLineMobile 
                    span.btn-pattern--line#secondLineMobile 
            .header-layer--mobile#headerLayer
                .header-menu--mobile
                    .mobile__container
                        .mobile__logo 
                            img(src="./assets/images/content/logo2.svg", alt="") 
                        .mobile__city-chosen Иркутск
                    .mobile__navigation
                        a.header-link(href="#form") Оформить кредит
                        a.header-link(href="#") Клиенту
                        a.header-link(href="#") О Компании
                        a.header-link(href="#contacts") Контакты 
                    .mobile__separator-line 
                    .header-contact-info
                        a.header-phone(href="tel:+78006002515") 8 800 600-25-15 
                        .header-social 
                            a(href="https://vk.com/felixfreidman").social-link 
                                img(src="./assets/images/content/vk.svg", alt="VK Logo")
                            a(href="https://instagram.com/freidman.creator").social-link 
                                img(src="./assets/images/content/instagram.svg", alt="Instagram Logo", style="width: 80%")
                    
            include greeting-section.pug
            
                