include header.pug
main.main.main-home 
    section.form-section#form
        .section-header(title="РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ") РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ
        .section-container.form-container
            include form.pug  
    section.advertisment-section
        img(src="./assets/images/content/bannerAdver.jpg", alt="")
    
    .home-menu 
        include menu-banks.pug
        .home-menu-container#basicMenuContainer
            .menu-container--vertical--small#verticalSmallContainer
                include menu-about.pug
            .menu-container--vertical--big#verticalBigContainer 
                include menu-workproc.pug
                .menu-button.menu-button--questions
                    .button-header вопросы и ответы
                    .swiper.about-swiper#aboutSwiper 
                                .swiper-wrapper
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Сотрудники").about-info Сотрудники
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Офисы").about-info Офисы
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Продукты").about-info Продукты
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="История").about-info История
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    
                                    
                                .swiper-pagination.about-pagination
    section.advertisment-section
        img(src="./assets/images/content/bannerAdver.jpg", alt="")
    //- Форма для вопросов внизу
    section.consultation-section 
    section.map-section#contact
include footer.html