include header.pug
main.main.main-home 
    section.form-section#form
        .section-header(title="РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ") РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ
        .section-container
            include form.pug           
    section.advertisment-section
        img(src="./assets/images/content/bannerAdver.jpg", alt="")
    section.banks-section
        .section-header(title="Банки-Партнеры") Банки-Партнеры
        .section-container.bank-container
            .swiper.banks-swiper#banksSwiper 
                .swiper-wrapper
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/renesance.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/otpbank.png", alt="Slide Image")
                        
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/sovcombank.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/gazprom.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/vtb.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/tinkoff.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/rosbank.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/setelem.png", alt="Slide Image")
                        
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/locobank.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/real.png", alt="Slide Image")
                           
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/kvant.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/ekspo.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/fast.png", alt="Slide Image")
                           
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/orange.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/baykal.png", alt="Slide Image")
                            
                    .swiper-slide.banks-slide
                        .bank-card 
                            img(src="./assets/images/content/union.png", alt="Slide Image")

                .swiper-pagination.banks-pagination
                .swiper-navigation.banks-navigation
                    .swiper-button--prev.button-bank--prev
                    .swiper-button--next.button-bank--next
    section.whyus-section
        .section-header(title="ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ ИМЕННО К НАМ?") ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ ИМЕННО К НАМ?
        .section-container.whyus-container
            include whyus.pug
    section.advertisment-section
        img(src="./assets/images/content/bannerAdver.jpg", alt="")
    //- Форма для вопросов внизу
    section.consultation-section 
    section.feedback-section
        .section-header(title="ОТЗЫВЫ НАШИХ КЛИЕНТОВ") ОТЗЫВЫ НАШИХ КЛИЕНТОВ
        .section-container
    section.company-section
        .section-header(title="НЕМНОГО О НАШЕЙ КОМПАНИИ") НЕМНОГО О НАШЕЙ КОМПАНИИ
        .section-container
    section.map-section#contact
include footer.pug