include header.pug
main.main.main-home 
    section.form-section#form
        //- .section-header(title="РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ") РАССЧИТАЙТЕ АВТОКРЕДИТ И ЗАПОЛНИТЕ АНКЕТУ
        .section-container.form-container
            include form.pug  
    //- section.advertisment-section
    //-     img(src="./assets/images/content/bannerAdver.jpg", alt="")
    
    .home-menu 
        include menu-banks.pug
        .home-menu-container#basicMenuContainer
            .menu-container--vertical--small#verticalSmallContainer
                include menu-about.pug
            .menu-container--vertical--big#verticalBigContainer 
                include menu-workproc.pug
                .menu-button.menu-button--questions#questionButtonOpen
                    .button-header вопросы и ответы
                    .button-close.button-close--workprocess#questionButtonClose
                    .swiper.question-swiper#questionSwiper 
                            .swiper-wrapper
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками.  
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain.jpg", data-question-header="Почему стоит обратиться в компанию автокредит?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Почему стоит обратиться в компанию автокредит?
                                        .question-caption__content 
                                            .caption-paragraph Мы являемся официальным партнером банков, которые специализируются на автокредитовании, и выступаем гарантом сделки.
                                            .caption-paragraph Именно поэтому, обращаясь к нам для оформления заявки, вам потребуется только два документа.
                                            .caption-paragraph Вы подаёте заявку сразу же во все банки и получаете решение в течении часа.
                                            .caption-paragraph Автомобиль можно выбрать абсолютно любой, независимо от года выпуска и категории.
                                            
                                .swiper-slide.question-slide(data-question-image = "./assets/images/content/imageMain2.jpg", data-question-header="Какая у вас процентная ставка?")
                                    .question-video 
                                        img(src="./assets/images/content/imageMain2.jpg", alt="")
                                    .question-caption 
                                        .question-caption__header Какая у вас процентная ставка?
                                        .question-caption__content
                                            .caption-paragraph Процентная ставка определяется нашими банками-партнерами и зависит от суммы, срока, вашей кредитной истории и множества других факторов.
                                            .caption-paragraph Обращаясь в нашу компанию, вы подаёте заявку сразу во все банки, а решение получаете уже через час.
                                            .caption-paragraph Наши специалисты проконсультируют вас и помогут выбрать лучшее предложение из одобренных банками. 
                            .swiper-pagination.question-pagination
    section.advertisment-section
        img(src="./assets/images/content/bannerAdver.jpg", alt="")
    //- Форма для вопросов внизу
    section.consultation-section 
    section.map-section#contact
include footer.html