.menu-button.menu-button--about
                    .button-header о компании
                    section.about-section
                        .about-container
                            .swiper.about-swiper#aboutSwiper 
                                .swiper-wrapper
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Сотрудники").about-info Сотрудники
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Офисы").about-info Офисы
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="Продукты").about-info Продукты
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    .swiper-slide.about-slide
                                        .about-card 
                                            span(data-info="История").about-info История
                                            .about-container 
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain.jpg")
                                                    .man-name Феликс Фрейдман
                                                    .man-job Программист
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMain2.jpg")
                                                    .man-name Алексей Томсон
                                                    .man-job Маркетолог
                                                .man-card 
                                                    img.man-photo(src="./assets/images/content/imageMainDark.jpg")
                                                    .man-name Елена Раух
                                                    .man-job SMM-Специалист
                                    
                                    
                                .swiper-pagination.about-pagination
                    .button-close.button-close--about#aboutButtonClose