.menu-button.menu-button--banks#banksButtonOpen 
            .button-header Банки-Партнеры
            section.banks-section
                //- .section-header(title="Банки-Партнеры") Банки-Партнеры
                .section-container.bank-container
                    .swiper.banks-swiper#banksSwiper 
                        .swiper-wrapper
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/renesance.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/otpbank.png", alt="Slide Image")
                                
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/sovcombank.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/gazprom.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/vtb.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/tinkoff.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/rosbank.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/setelem.png", alt="Slide Image")
                                
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/locobank.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/real.png", alt="Slide Image")
                                
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/kvant.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/ekspo.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/fast.png", alt="Slide Image")
                                
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/orange.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/baykal.png", alt="Slide Image")
                                    
                            .swiper-slide.banks-slide
                                .bank-card 
                                    img(src="./assets/images/content/union.png", alt="Slide Image")

                        .swiper-pagination.banks-pagination
                        .swiper-navigation.banks-navigation
                            .swiper-button--prev.button-bank--prev
                            .swiper-button--next.button-bank--next
            .button-close#banksButtonClose