@media screen and (max-width:1300px) {
    .swiper-pagination.home-pagination .swiper-pagination-bullet-active .bullet-header {
        font-size: 14px;
        width: 90%;
    }
    .swiper-pagination.home-pagination .bullet-header {
        font-size: 14px;
        width: 90%;
    }
    .home-menu .menu-button .button-header {
        font-size: 26px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-header {
        font-size: 16px;
        width: 70%;
    }
    .question-swiper .question-slide .question-caption .question-caption__header {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:1200px) {
    .application-table .application-table__option {
        width: 48%;
        margin-bottom: 10px;
    }
    .application-form__radio:checked+label {
        border: 2px solid #ff0505;
    }
    .header .header-navigation .header-link {
        font-size: 17px;
    }
    .question-swiper .question-slide .question-caption .question-caption__content {
        font-size: 14px;
    }
    .question-swiper .question-slide .question-caption .question-caption__content .caption-paragraph {
        line-height: 20px;
    }
    .bank-card {
        height: 120px;
    }
}

@media screen and (max-width:1024px) {
    .header .header-navigation .header-link {
        font-size: 14px;
    }
    .header {
        width: 85%;
        .header-container {
            width: 70%;
        }
    }
    .question-swiper .question-slide .question-caption .question-caption__header {
        font-size: 22px;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet-active .bullet-header,
    .about-container .about-swiper .swiper-pagination.about-pagination .bullet-header {
        font-size: 14px;
    }
    .greeting-slide .attention-container__header {
        font-size: 30px;
    }
    .application-form .form-screen,
    .application-form .form-screen.third-screen {
        width: calc(80% - 120px);
    }
    .home-menu {
        .menu-button--banks {
            max-height: 200px;
            .button-header {
                max-height: 200px !important;
                flex: 200px 0 0 !important;
            }
        }
        .buttonExpandBig {
            max-height: 875px !important;
        }
        .button-close {
            margin-bottom: 25px;
            margin-top: 25px;
        }
        .smallHorizontalExpanded .button-close--workprocess {
            top: 25px;
        }
    }
}

@media screen and(max-width: 950px) {
    .banks-swiper .swiper-navigation.banks-navigation {
        width: 100%;
    }
    .swiper-pagination.home-pagination {
        width: 100%;
        .swiper-pagination-bullet {
            width: 24%;
        }
    }
    .home-menu {
        .home-menu-container {
            flex-direction: column;
        }
        .menu-container--vertical--small {
            width: 100%;
            height: fit-content;
        }
        .menu-container--vertical--big {
            width: 100%;
        }
        .menu-button {
            max-height: 200px;
            .button-header {
                max-height: 200px;
            }
        }
        .menu-button--about .button-header {
            transform: none !important;
            width: 100% !important;
        }
        .menuTransformed .menu-container--vertical--small .menu-button--about {
            flex-direction: column;
        }
    }
    .containerSmallExpand {
        .menu-button--about .button-header {
            margin-top: 75px;
            margin-bottom: 25px;
        }
        .about-container .about-swiper {
            width: 100%;
        }
        .menu-button--about .button-close--about {
            position: absolute;
            top: 60px !important;
            transform: rotate(45deg) !important;
        }
        .about-section {
            width: 90%;
        }
        .about-container .about-swiper .swiper-pagination.about-pagination {
            width: 100%;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 800px) {
    .application-form .form-screen,
    .application-form .form-screen.third-screen {
        width: calc(95% - 80px);
        padding: 40px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-header {
        font-size: 14px;
    }
    .question-swiper .question-slide .question-caption .question-caption__header {
        font-size: 20px;
        line-height: 22px;
    }
    .question-swiper .question-pagination {
        height: 100%;
    }
    .greeting-basic .greeting-image {
        transform: translateX(50px) scale(1.5);
    }
    .header {
        margin-left: 20px;
        margin-top: 20px;
        width: calc(100% - 20px);
    }
    .greeting-section {
        height: 60vh;
    }
}

@media screen and (max-width: 720px) {
    .header-container {
        display: none !important;
    }
    .header-btn--mobile {
        display: flex;
    }
    .application-form .form-screen,
    .application-form .form-screen.third-screen {
        width: calc(100% - 80px);
    }
    .application-form {
        padding: 80px 20px;
        width: calc(100% - 40px);
    }
    .about-container .about-card .about-info {
        font-size: 18px;
    }
    .man-card:nth-child(3n) {
        display: none !important;
    }
    .about-container .about-card .about-container .man-card {
        width: calc(45% - 40px);
    }
    .about-container .about-card .about-container {
        justify-content: center;
    }
    .question-swiper .question-slide .question-caption .question-caption__header {
        font-size: 16px;
    }
    .question-swiper .question-slide .question-caption .question-caption__content {
        font-size: 12px;
        line-height: 15px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-header {
        font-size: 13px;
        width: 100%;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-image {
        display: none;
    }
    .swiper-pagination.home-pagination .bullet-header,
    .swiper-pagination.home-pagination .swiper-pagination-bullet-active .bullet-header {
        font-size: 11px;
    }
    .greeting-slide .attention-container__header {
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
    .banks-swiper .banks-pagination {
        display: none;
    }
    .banks-swiper .swiper-navigation.banks-navigation {
        justify-content: flex-end;
        .swiper-button--prev {
            margin-right: 15px;
        }
    }
    .banks-section .bank-container {
        max-height: 160px;
        min-height: 0px !important;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet-active .bullet-header {
        font-size: 10px;
    }
    .workproccess-container .workstage-container .stage-header {
        font-size: 16px;
    }
    .workproccess-container .workstage-container .stage-subheader {
        font-size: 13px;
    }
    .question-swiper .question-slide .question-video {
        height: 20%;
    }
    .question-swiper .question-slide .question-caption {
        height: calc(80% - 60px);
    }
    .home-menu .smallHorizontalExpanded .button-close--workprocess {
        right: 25px;
        margin-right: 0;
        margin-left: 0;
        left: auto;
    }
    .application-form .screen-header {
        font-size: 24px;
    }
    .application-form .application-button {
        font-size: 18px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    .application-form .form-screen,
    .application-form .form-screen.third-screen {
        min-height: 250px;
    }
    .application-table {
        width: 100%;
    }
    .greeting-slide {
        margin-left: 20px;
    }
    .greeting-slide .attention-container__button--apply,
    .greeting-slide .attention-container__button--expand {
        padding: 10px 5px;
        font-size: 14px;
    }
    .greeting-basic .greeting-image {
        transform: translateX(100px) scale(1.5);
    }
    .swiper-pagination.home-pagination .swiper-pagination-bullet {
        height: 100px;
    }
    .header-layer--mobile .header-menu--mobile .header-contact-info .header-phone {
        font-size: 18px;
    }
    .home-menu .button-close {
        position: absolute;
        top: 70px;
        right: 25px;
        z-index: 100;
    }
    .home-menu .smallHorizontalExpanded .button-close--workprocess {
        top: 70px;
    }
    .home-menu .buttonExpandBig {
        height: 450px;
        position: relative;
        .button-close {
            display: block;
        }
    }
    .home-menu .button-close {
        display: none;
    }
    .home-menu .button-close {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 550px) {
    .header-layer--mobile .header-menu--mobile .header-contact-info {
        flex-wrap: wrap;
        .header-phone {
            margin-bottom: 15px;
        }
    }
    .header-layer--mobile .header-menu--mobile {
        width: calc(80% - 20px);
    }
    .header-layer--mobile .header-menu--mobile .mobile__separator-line {
        width: 80vw;
    }
    .header-layer--mobile .header-menu--mobile .mobile__container .mobile__city-chosen {
        font-size: 26px;
    }
    .header-layer--mobile .header-menu--mobile .mobile__navigation .header-link {
        font-size: 20px;
    }
    .bullet-header {
        display: none;
    }
    .greeting-section {
        height: 50vh;
    }
    .swiper-pagination.home-pagination .swiper-pagination-bullet {
        height: 10px;
        width: 10%;
    }
    .swiper-pagination.home-pagination {
        bottom: 15px;
        justify-content: center;
    }
    .application-table .application-table__option {
        height: 150px;
    }
    .greeting-slide .attention-container__button--apply,
    .greeting-slide .attention-container__button--expand {
        font-size: 10px;
    }
    .containerSmallExpand .about-section {
        width: 100%;
    }
    .man-card:nth-child(2n) {
        display: none !important;
    }
    .about-container .about-card .about-container .man-card {
        width: calc(80% - 40px);
    }
    .about-pagination {
        .bullet-header {
            display: block !important;
        }
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-header {
        font-size: 10px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet {
        height: 40px;
        flex: 40px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .home-menu .button-close {
        width: 15px;
        height: 15px;
    }
    .greeting-slide .attention-container__header {
        font-size: 16px;
    }
    .bank-card {
        height: 90px;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet {
        height: 60px;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet {
        transform: translateY(15px);
        transition: all 0.3s ease;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet-active {
        transform: translateY(-10px) !important;
        transition: all 0.3s ease;
    }
    .question-swiper .question-slide .question-caption .question-caption__content {
        font-size: 10px;
        line-height: 11px;
    }
    .question-swiper .question-slide .question-caption {
        padding: 30px 10px;
        width: calc(100% - 20px);
    }
    .home-menu .menu-button .button-header {
        font-size: 22px;
    }
    .application-form .screen-header {
        font-size: 18px;
    }
}

@media screen and (max-width: 340px) {
    .home-menu .menu-button .button-header {
        font-size: 18px;
    }
    .about-container .about-swiper .swiper-pagination.about-pagination .swiper-pagination-bullet-active .bullet-header {
        font-size: 8px;
    }
    .about-container .about-card .about-info {
        font-size: 12px;
    }
    .workproccess-container .workstage-container .stage-header {
        font-size: 14px;
    }
    .workproccess-container .workstage-container .stage-subheader {
        font-size: 10px;
    }
    .workproccess-container .workstage-container .stage-graphics {
        height: 30%;
    }
    .workproccess-container .workstage-container .stage-graphics .stage-number {
        width: 40px;
        height: 40px;
    }
    .workproccess-container .workstage-container {
        height: 40%;
    }
    .workproccess-container {
        height: 550px;
    }
    .question-swiper .question-slide .question-caption .question-caption__header {
        font-size: 14px;
    }
    .question-swiper .question-slide .question-caption .question-caption__content {
        font-size: 8px;
        line-height: 10px;
    }
    .question-swiper .question-slide .question-caption .question-caption__content .caption-paragraph {
        line-height: 13px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet .question-header {
        font-size: 8px;
    }
    .question-swiper .question-pagination .swiper-pagination-bullet {
        height: 30px;
        flex: 30px 0 0;
        padding: 3px 5px;
    }
}